body{
    background-color: #FAF9F6;
    color: #54626F;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}
footer{
    color: #D3D3D3;
    /* background: #282828;    */
    border-top: 1px solid #eeeeee; 
    margin-top: 16px;
    padding: 16px 0;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}
p a{
    color: #497094;
    text-decoration: none;
}
p a:hover{
    color: #546474;
    text-decoration: underline;
}

#img-credits{
    font-size: smaller;
}

.portrait{
    width: 250px;
}

input{
    border: 1px solid #ccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 8px;
}